<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoInsure</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    
    <script>
        function func1()
        {
            window.location.href="/login";
        }
    </script>
    
</head>
<body>
    <nav class="nav1">
    
    <ul>
        <h1>AutoInsure</h1>
        <li><a href='/register'>Register</a></li>
        <li><a href='/login'>Login</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
    <p id="para1">We Provide The Best Insured Estimated cost for your<br>
        Vehicle</p>
    <button class="btn1" type="button" onclick="func1()">Get Started →</button>

      </nav>
</body>
</html>